<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include templates/site-header.ejs %>
<h3><%= title %></h3>
<p>Hello thois is me<%= name %> allancaonca bcaknaj,cba,bciakcba ahucoanfhoa</p>
</body>
</html>
